<nav>
  <ul>
    <li>
      <a href="#home">
        <img src="assets/hamburger.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#about">
        <img src="assets/hamburger.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#menu">
        <img src="assets/hamburger.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#awards">
        <img src="assets/hamburger.png" alt="" />
      </a>
    </li>
    <li>
      <a href="#contact">
        <img src="assets/hamburger.png" alt="" />
      </a>
    </li>
  </ul>
</nav>
