<div class="app__footer app__bg section__padding">
  <!-- <footer-overlay></footer-overlay> -->
  <news-letter></news-letter>

  <div class="app__footer-links">
    <div class="app__footer-links_contact">
      <h1 class="app__footer-headtext">Contact Us</h1>
      <p class="p__opensans">9 W 53rd St, New York, NY 10019, USA</p>
      <br />
      <p class="p__opensans">+1 212-344-1230</p>
      <p class="p__opensans">+1 212-555-1230</p>
    </div>

    <div class="app__footer-links_logo">
      <!-- <img src="assets/logo.png" alt="logo" />
       -->
      <h1 class="app__footer-headtext">Gerich</h1>
      <p class="p__opensans">
        &quot;The best way to find yourself is to lose yourself in the service
        of others.&quot;
      </p>
      <img
        src="assets/spoon.png"
        alt="spoon"
        style="margin-top: 15px"
        class="spoon__img"
      />
      <!-- <div class="app__footer-links_icons">
        <img src="assets/facebook.png" alt="facebook" />
        <img src="assets/instagram.png" alt="instagram" />
        <img src="assets/twitter.png" alt="twitter" />
      </div> -->
    </div>
    <div class="app__footer-links_work">
      <h1 class="app__footer-headtext">Working Hours</h1>
      <div class="flex__center">
        <div>
          <p class="p__opensans">Monday-Friday:</p>
          <p class="p__opensans">08:00 am -12:00 am</p>
        </div>
        <div>
          <p class="p__opensans">Saturday-Sunday:</p>
          <p class="p__opensans">07:00 am -11:00 pm</p>
        </div>
      </div>
    </div>
  </div>
  <div class="app__footer-copyright">
    <p class="p__opensans">{{ copyrightYear }} Gericht. All Rights reserved.</p>
  </div>
</div>
