<div class="app__bg app__wrapper" id="contact">
  <div class="wrapper section__padding">
    <div #infoSection class="app__wrapper_info">
      <sub-heading title="'Contact'"></sub-heading>
      <h1 class="headtext__cormorant" style="margin-bottom: 3rem">Find Us</h1>
      <div class="app__wrapper-content">
        <p class="p__opensans">
          Lane Ends Bungalow, Whatcroft Hall Lane, Rudheath, CW9 7SG
        </p>
        <p
          class="p__cormorant"
          style="color: var(--color-golden); margin: 2rem 0"
        >
          Opening Hours
        </p>
        <p class="p__opensans">Mon - Fri: 10:00 am - 02:00 am</p>
        <p class="p__opensans">Sat - Sun: 10:00 am - 03:00 am</p>
      </div>

      <button type="button" style="margin-top: 2rem" class="custom__button">
        Visit Us
      </button>
    </div>

    <div #imageSection class="app__wrapper_img">
      <img src="assets/findus.png" alt="findus" />
    </div>
  </div>
</div>
