:host{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 250px;
  margin-block: 1rem;
  margin-inline-end: 1rem;

  & img {
    width: 35px;
    height: 35px;
  }
  
  .app__laurels_awards-card_content {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  
  @media screen and (min-width: 1900px) {
    .app__laurels_awards-card {
      min-width: 390px;
      // margin: 2rem 4rem;
    }
    
  }
  
  @media screen and (max-width: 450px) {
    .app__laurels_awards-card {
      min-width: 100%;
      // margin: 1rem 0;
    }
    
  }
}

