.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
}
.app__wrapper_info{
  flex: 1;
}
.app__laurels_awards {
  max-width: 550px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
