<div class="app__bg app__wapper">
  <div class="wrapper section__padding">
    <div #chefImg class="app__wrapper_img app__wrapper_img-reverse">
      <img
        src="assets/chef.png"
        alt="chef"
        style="
          width: 100%;
          height: 500px;
          object-fit: contain;
          object-position: center;
        "
      />
    </div>
    <div #chefInfo class="app__wrapper_info">
      <sub-heading title="Chef's Word"></sub-heading>
      <h1 class="headtext__cormorant">What we believe in</h1>
      <div class="app__chef-content">
        <div class="app__chef-content_quote">
          <img
            src="assets/quote.png"
            alt="quote"
            style="margin-inline-end: 1rem"
          />
          <p class="p__opensans">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit auctor sit .
          </p>
        </div>

        <p class="p__opensans">
          auctor sit iaculis in arcu. Vulputate nulla lobortis mauris eget sit.
          Nulla scelerisque, color sodales nulla, porttitor ante. Nam venenatis,
          lectus
        </p>
      </div>
      <div class="app__chef-sign" style="margin: 1rem 0">
        <p>Kevin Luo</p>
        <p class="p__opensans">Chef & Founder</p>
        <img src="assets/sign.png" alt="sign" />
      </div>
    </div>
  </div>
</div>
